.game__container {
  width: 470px;
  height: 470px;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 17px 6px rgba(163, 135, 17, 1);
  -moz-box-shadow: 0px 0px 17px 6px rgba(163, 135, 17, 1);
  box-shadow: 0px 0px 17px 6px rgba(163, 135, 17, 1);
  border-radius: 5px;
}
.grid {
  width: 100%;
  height: 100%;
}
.grid__cell {
  width: 25%;
  height: 25%;
  background: rgba(238, 228, 218, 0.35);
  float: left;
  padding: 8px;
  background-clip: content-box;
  font-size: 24px;

  .tile {
    background-color: transparent;
    text-align: center;
    align-content: center;
    font-size: 46px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    color: var(--two);
    border: 4px solid var(--two);
  }
}
