body {
  margin: 0;
  background-color: rgba(93, 69, 143, 1);
  background-image: linear-gradient(
    0deg,
    rgba(93, 69, 143, 1) 0%,
    rgba(32, 43, 70, 1) 100%
  );
  width: 100%;
  height: 100vh;
}

.wrraper {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
